@{
    ViewData["Title"] = "Confirmation";
}

<div class="container">
    <h1>Thank you!</h1>
    <p>Your appointment has been made.</p>
    <button type="submit" class="btn btn-primary" id="return">Make another appointment</button>
</div>